@{
    ViewData["Title"] = "Home Page";
}

@using BLL;
@model WorkoutViewModel;

<html lang="nl">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    .Workoutbox 
    {
        border: 1px solid;
        margin-bottom: 15px;
        padding: 5px;
    }

    .NormalButton {
        background-color: #808080;
        color: white;
        padding: 8px 15px;
        text-decoration: none;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .NormalButton:hover {
        background-color: #A0A0A0;
        color: white;
    }

    .DeleteButton {
        background-color: #FF0000;
        padding: 7px 15px;
    }

    .DeleteButton:hover {
        background-color: #FF3333;
    }

</style>


<div class="text-center">
    <h1>Workouts lijst</h1>
    <div>
        <a href="/Home/New/">New workout</a>
    </div>
        <ul>
            @foreach (var workout in Model.Workouts)
            {
                <div class="Workoutbox">
                    <h5>@workout.Name</h5>
                    <p>ID: @workout.Id</p>

                    <form method ="post" action="/Home/DeleteWorkout">
                        <button class="NormalButton DeleteButton" type="submit" name="workoutID" value="@workout.Id">Delete</button>
                        <a class="NormalButton" href="/Home/Edit/">Edit</a>
                    </form>
                </div>
            }
        </ul>
</div>
