@{
    ViewData["Title"] = "Home Page";
}

@using BLL
@model WorkoutViewModel;

<style>
    .Workoutbox 
    {
        border: 1px solid;
        margin-bottom: 15px;
        padding: 5px;
    }
</style>


<div class="text-center">
    <div>
        <h1>Workouts lijst</h1>
            <ul>
                @foreach (var workout in Model.Workouts)
                {
                    <div class="Workoutbox">
                        <h5>@workout.Name</h5>
                        <p>ID: @workout.Id</p>
                    </div>
                }
            </ul>
    </div>
</div>
