@{
    ViewData["Title"] = "Home Page";
}

@using BLL;
@model WorkoutViewModel;

<style>
    .Workoutbox 
    {
        border: 1px solid;
        margin-bottom: 15px;
        padding: 5px;
    }
</style>


<div class="text-center">
    <h1>Workouts lijst</h1>
    <div>
        <a href="/Home/New/">New workout</a>
    </div>
        <ul>
            @foreach (var workout in Model.Workouts)
            {
                <div class="Workoutbox">
                    <h5>@workout.Name</h5>
                    <p>ID: @workout.Id</p>

                <form method ="post" action="/Home/DeleteWorkout">
                    <button type="submit" name="workoutID" value="@workout.Id">Delete</button>
                    <button>Edit</button>
                </form>
                </div>
            }
        </ul>
</div>
