@{
    ViewData["Title"] = "Home Page";
}

@using BLL;
@model WorkoutOverViewModel;

<html lang="nl">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    body {
        background-color: #f0f0f0;
    }

    .NewWorkout
    {
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .Workoutbox 
    {
        border: none;
        margin-bottom: 20px;
        padding: 15px;
        background-color: #ccc;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .TextSpace
    {
        margin-bottom: 15px;
    }

    .NormalButton {
        background-color: #808080;
        color: white;
        padding: 7px 24px;
        text-decoration: none;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 4px;
    }

    .NormalButton:hover {
        background-color: #A0A0A0;
        color: white;
    }

    .DeleteButton {
        background-color: #FF3333;
        padding: 7px 15px;
    }

    .DeleteButton:hover {
            background-color: #FF5555;
    }

    .StartButton {
        background-color: #33CC33;
    }

    .StartButton:hover {
        background-color: #66FF66;
    }

    
    .Zwart{
        color: black;
    }

    .link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

</style>


    <div class="text-center">
        <h1>Workouts lijst</h1>
        <div class="NewWorkout">
            <a class="NormalButton" href="/Home/New/">New workout</a>
        </div>
        <ul>
            @foreach (var workout in Model.Workouts)
            {
                <div class="Workoutbox">
                    <a href="/Exercise/Exercise?WorkoutID=@workout.Id" style="display: block; text-decoration: none;">
                        <div class="TextSpace">
                            <div class="Zwart">
                                <h4>@workout.Name</h4>
                            </div>
                        </div>
                    <div style="display: flex; justify-content: center;">
                        <form method="post" action="/Home/DeleteWorkout">
                            <button class="NormalButton DeleteButton" type="submit" name="workoutID" value="@workout.Id">Delete</button>
                        </form>
                        <a class="NormalButton" href="/Home/Edit/@workout.Id">Edit</a>
                        <a class="NormalButton StartButton" href="/WorkoutSessie/WorkoutSessie?WorkoutID=@workout.Id">Start</a>
                    </div>
                    </a>
                </div>
            }
        </ul>
    </div>

