@{
    ViewData["Title"] = "Workout Toevoegen";
}

<html lang="nl">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="error-message">
    @Html.ValidationSummary()
</div>

<style>
    .error-message 
    {
    color: red;
    }
</style>

<form method="post" action="/Home/NewWorkout">
    <h4>Workout Naam:</h4>
    <input type="text" id="workoutName" name="workoutName" required=""/>
    <button type="submit" onclick="SendsWorkouts()">Opslaan</button>
</form>

<script>
    function SendsWorkouts() 
    {
        var workoutName = document.getElementById("workoutName").value;
    }
</script>
