body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px; /* Maak het formulier breder */
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.remember-me {
  display: flex;
  align-items: center;
  justify-content: left; /* Zorg dat de inhoud netjes links wordt uitgelijnd */
}

.remember-me input {
  width: auto; /* Zorg dat de checkbox een natuurlijke breedte heeft */
  margin-right: 10px; /* Voeg een kleine marge rechts toe */
  margin-left: 0; /* Zorg dat de checkbox even ver links begint als de input velden */
}

.remember-me label {
  margin: 0; /* Zorg ervoor dat het label naast de checkbox staat */
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.message {
  color: red;
  margin-top: 10px;
}

.login-form p {
  margin-top: 10px;
}
