body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.register-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px; /* Maak het formulier breder */
    text-align: center;
    position: relative;
}

.register-header {
    background-color: #007bff; /* Blauwe achtergrondkleur */
    color: #fff; /* Witte tekstkleur */
    padding: 10px; /* Padding boven en onder de tekst */
    border-radius: 8px 8px 0 0; /* Alleen de bovenste hoeken afronden */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    width: calc(100% + 40px); /* Volledige breedte inclusief de padding van de container */
    margin: -20px -20px 20px -20px; /* Negatieve marges om de padding van de container te compenseren */
    text-align: center; /* Tekst centreren */
    justify-content: center;
}

    .register-form h2 {
        margin-bottom: 20px;
    }

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input {
        width: calc(100% - 16px); /* Zorg voor correcte breedte */
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.btn {
    width: 100%; /* Zorg ervoor dat de breedte van de knop de volledige breedte van de container bedekt */
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin: 10px 0 0 0; /* Verwijder extra marge aan de linker kant */
}

    .btn:hover {
        background-color: #0056b3;
    }

.message {
    color: red;
    margin-top: 10px;
}

.register-form p {
    margin-top: 10px;
}
