@{
    ViewData["Title"] = "Exercise Toevoegen";
}

@model ExerciseViewModel

<html lang="nl">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="error-message">
        @Html.ValidationSummary()
    </div>

    <style>
    body {
        height: 80vh;
        display: flex;
        align-items: center;
        background-color: #f0f0f0;
    }

    .error-message {
        color: red;
    }

    .form-container {
        max-width: 600px;
        margin: auto;
        background-color: #ccc;
        padding: 20px;
        border-radius: 5px;
    }

    label {
        display: block;
        font-size: 16px;
    }

    input[type=text] {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .NormalButton {
        background-color: #808080;
        color: white;
        padding: 7px 24px;
        text-decoration: none;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 4px;
    }

        .NormalButton:hover {
            background-color: #A0A0A0;
            color: white;
        }

    .Zwart {
        color: black;
    }

</style>

    <h1 class="text-center">Exercise aanmaken</h1>
    <div class="form-container">
        <form method="post" action="/Exercise/AddNewExercise?WorkoutID=@Model.WorkoutID">
        <input type="hidden" name="display" value="block" />
            <div class="form-group">
                <label for="exerciseName" class="Zwart">Exercise naam:</label>
                <input type="text" id="exerciseName" name="exerciseName" required=""/>
            </div>
            <div class="form-group">
                <label for="exerciseGewicht" class="Zwart">Gewicht:</label>
                <input type="text" id="exerciseGewicht" name="exerciseGewicht" required=""/>
            </div>
            <div class="form-group">
                <label for="exerciseSets" class="Zwart">Hoeveelheid Sets:</label>
                <input type="text" id="exerciseSets" name="exerciseSets" required=""/>
            </div>
            <div class="form-group">
                <label for="exerciseReps" class="Zwart">Hoeveelheid Reps:</label>
                <input type="text" id="exerciseReps" name="exerciseReps" required=""/>
            </div>
            <div style="display: flex; justify-content: center;">
                <a href="/Exercise/Exercise?WorkoutID=@Model.WorkoutID" class="NormalButton">Terug</a>
                <button type="submit" onclick="SendsExercise()" class="NormalButton">Opslaan</button>
            </div>
        </form>
    </div>

    <script>
    function SendsExercise() 
    {
        var exerciseName = document.getElementById("exerciseName").value;
        var exerciseGewicht = document.getElementById("exerciseGewicht").value;
        var exerciseSets = document.getElementById("exerciseSets").value;
        var exerciseReps = document.getElementById("exerciseReps").value;
        var display = document.getElementById("display").value;
    }
</script>
